@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.navbar {
    width: 100%;
    background-color: #e06b6b;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 1px solid #717377;
    padding: 10px;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(176, 202, 255, 0.5);
    width: 280px; /* Adjusted width */
}

input {
    width: 240px; /* Adjusted width */
    border: none;
    padding: 16px; /* Adjusted padding */
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 30px; /* Adjusted font size */
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 50px; /* Adjusted width */
    height: 50px; /* Adjusted height */
    margin: 5px; /* Adjusted margin */
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 18px; /* Adjusted font size */
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn {
    background-color: #fb7c14;
}

.operator {
    color: #6dee0a;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
