@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(4, 29, 29);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    flex-grow: 1;
}

input {
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(6, 145, 145);
    outline: none;
    font-size: 19px;
}

button {
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
}

.text ul {
    position: relative;
    background-color: rgb(5, 31, 31);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
}

.text ul i {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.navbar {
    width: 100%;
    background-color: #df5a5a;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: right;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111;
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;  /* This pushes the footer to the bottom */
}
